@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

*{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

:root{
    --bgPurple: #2d2f59;
    --bgSmall: #30314C;;
    --navPurple: #150240;
    --textHover: #F2B705;
    --buttonRed: #610606;
    --textBtn: #C7C6C6;
    --slidePurple: #25274F;
    --cardBg: #494c7e;
}

body{
    overflow-x: hidden;
}

.bg-purple{
    background-color: var(--bgPurple);
}

.nav-link:hover{
    color: var(--textHover) !important;
}

.slideText{
    background: rgba(196, 196, 196, 0.15);
    border-radius: 17px;
    transform: translate(7rem, 5rem);
    width: 50%;
    padding: 2rem;
}

.slide-nav{
    width: 3% !important;
}

.subtitle{
    color: #C4C4C4;
}

.right{
    margin-left: 7rem;
    margin-right: 10rem;
}

.right h1{
    border-bottom: .5rem solid white !important;
}

.right p{
    font-size: 2.5ch;
}

.left img{
    border-radius: 3rem;
}

.terrain img{
    background-color: #3B3E75;
}

@media screen and (max-width: 800px){
    .slideText{
        padding: 1rem;
        width: 50%;
    }

    .slideText p{
        font-size: 1ch;
    }

    .slideText h1{
        font-size: 1.8ch;
    }

    .subtitle{
        font-size: 1.5ch;
    }
}